<div class="ml-5">
<h3>Редактировать мероприятие</h3>
<div  style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Название</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="event.name" name="name">
    </div>
    <div class="form-group">
      <mat-label>Дата проведения мероприятия:</mat-label>

      <input matInput [matDatepicker]="picker"  [(ngModel)]="event.dateOfEvent" name="dateOfEvent"
             required/>
      <div class="text-right">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      </div>
      <mat-datepicker #picker></mat-datepicker>
    </div>

    <div class="form-group">
      <label for="name">Результат мероприятия</label>
      <input type="text" class="form-control" id="resultOfEvent" required [(ngModel)]="event.resultOfEvent" name="resultOfEvent">
    </div>


    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
</div>

