<div class="ml-5">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Список мероприятий</h2>
    </div>
    <div style="text-align: center">
      <button class="button big-orange-button"
              routerLink="add"
      >Добавить мероприятие
      </button>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Название</th>
          <th>Дата проведения мероприятия</th>
          <th>Результат режима надзора</th>
          <th>Действие</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let event of events | async">
          <td>{{event.name}}</td>
          <td>{{event.dateOfEvent}}</td>
          <td>{{event.resultOfEvent}}</td>
          <td>
            <button (click)="deleteEvent(event.id)" class="btn btn-danger">Удалить</button>
            <button (click)="updateEvent(event.id)" class="btn btn-info" style="margin-left: 10px">Изменить</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
