.big-orange-button {
  background: rgb(234, 181, 145);
  padding:35px;
  font-size: 19pt;
  color:white;
  width:400px;

  &:hover {
    background: darken(rgb(163, 219, 122), 15%);
    cursor: pointer;
  }
}

