<div class="container">
  <div class="container__title">
    Вход
  </div>
  <div class="container__login-form">
    <ng-container *ngIf="authenticationService.errorMessage">
      <div class="message error"
           [ngClass]="'error'"
      >
        {{authenticationService.errorMessage}}
      </div>
    </ng-container>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <input type="text"
             formControlName="login"
             placeholder="Паспорт"
      />
      <input type="password"
             formControlName="password"
             placeholder="Пароль"
      >
      <button type="submit"
              class="button large"
              [disabled]="!loginForm.valid"
      >
        Войти
      </button>
    </form>
  </div>
</div>
